<launch>
    <arg name="sim"/>
    <arg name="simulate_spoon" default="$(arg sim)"/>
    <arg name="simulate_mouth" default="$(arg sim)"/>
    <arg name="follow_mouth" default="false"/>
    <arg name="filter_robot" default="false"/>

    <include file="$(find feedbot_launch)/launch/default.launch">
      <arg name="sim" value="$(arg sim)"/>
      <arg name="simulate_mouth" value="$(arg simulate_mouth)"/>
      <arg name="simulate_spoon" value="$(arg simulate_spoon)"/>
      <arg name="follow_mouth" value="$(arg follow_mouth)"/>
      <arg name="filter_robot" value="$(arg filter_robot)"/>
    </include>

    <include file="$(find record_mocap)/launch/default.launch">
      <arg name="show_rviz" value="false"/>
    </include>
    <node pkg="rosbag" type="record" name="rosbag_record"
       args="record -o /tmp/feedbot /mocap/hat/pose /mocap/spoon/pose /mocap/robot/pose /mocap/stationary/pose /camera/rgb/image_color /tf /DO/inferenceOut/PointStamped"/>
</launch>
