<launch>
    <arg name="simulate_mouth" default="false"/>

    <group unless="$(arg simulate_mouth)">
      <include file="$(find freenect_launch)/launch/examples/freenect-registered-xyzrgb.launch"/>
      <include file="$(find ros_do_face_tracking)/launch/tracking_face_node.launch"/>
    </group>
    <group if="$(arg simulate_mouth)">
      <node name="dummy_publisher" pkg="feedbot_trajectory_logic" type="dummy_mouth_publisher.py">
        <param name="mouth_point_topic" type="string" value="/tracking_face_mouth_point"/>
      </node>
    </group>
</launch>
